<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Hello this is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Commodi minus, voluptatem tempora sed omnis rerum quasi 
        placeat ea culpa reprehenderit sunt quam quibusdam error nisi ipsum ipsam qui provident ullam.</p>
        <br>
        <button>CLICK ME!</button>
</body>
</html>